.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

a.rgLink{
    float: right;
    text-decoration: none;
    padding-top: 8px;
}