.subTotle {
    width: 90%;
    background: gainsboro;
    padding: 15px;
    margin-left: 0;
    box-sizing: border-box;
    height: 300px;
}

.date {
    width: 100%;
    box-sizing: border-box;
    padding-left: 4%;
}

.productCheckOutCard {
    display: flex;
    margin: 20px 0;
    align-items: center;
}